nav {
    display: inline-flex;
    width: 45%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    outline: none;
    display: block;
    background-color: gray;
}

.menuBlock {
    text-align: center;
    padding: 10px 0;
}

.menuBlock > li {
    display: inline-block;
    position: relative;
}