.HEADER {
    display: inline-flex;
    width: 100%;
    height: 120px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.LOGO {
    display: inline-flex;
    width: 20%;
    border: mediumspringgreen 3px;
    padding-left: 10%;
}

.logoPIC {
    padding: 8px 10px 0 0;
    height: 100px;
}

/*MENU*/
.noUL,
nav ul {
    padding-inline-start: 0px;
    list-style: none;
}

.noLI,
nav li {
    padding-inline-start: 0px;
    list-style: none;
}

nav {
    display: flex;
    width: 35%;
    height: 100%;
    padding-right: 10%;

}

.menuBlock {
    display: flex;
    width: 100%;
    flex-flow: wrap row;
    justify-content: space-between;
}

.Button {
    width: 30%;
}

.menuButtons,
nav ul a.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    background-color: rgba(0, 0, 0, 0.856);
    width: 100%;
    height: 90px;
    text-decoration: none;
}

.subBlocks,
nav ul li ul.subMenu {
    position: relative;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.subButtons,
nav ul li ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px white solid;
    border-right: 1px white solid;
    background-color: rgba(0, 0, 0, 0.856);
    width: 100%;
    height: 65px;
    text-decoration: none;
}

.menuNotBorded,
nav ul li:hover a.menuButton {
    border-bottom: none;
    background-color: rgba(24, 24, 24, 0.856);
    transition-duration: .4s;
}

.subMenuVisible,
nav ul li:hover .subMenu {
    position: relative;
    animation-name: MenuDown;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes MenuDown {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;

    }

    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.subMenuBorderLastCh,
nav ul li:hover .subMenu:last-child {
    border-bottom: 1px white solid;
}

.subMenuButtonsAnim,
nav ul li ul a:hover {
    background-color: rgba(65, 65, 65, 0.856);
    transition-duration: .2s;
}

/*MENU END*/

/*BODY BIKES*/
.BodyHEADER {
    width: 100%;
    height: 80px;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.BodyBIKES {
    display: inline-flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(12, 12, 12);
    padding: 30px 0 30px 0;
}

.BikesA,
div.ABlock a {
    display:flex;
    width:100%;
    text-decoration: none;
}

.bodyBlock,
div.BodyBIKES div {
    display: flex;
    width: 47%;
    border-radius: 20px;
}

.bodyBlockShadow,
div.BodyBIKES div:hover {
    box-shadow: 0px 0px 10px 2px white;
    border-radius: 20px;
    transition: .5s;
}

.h1Position,
div.BodyBIKES div h1 {
    position: relative;
    right: 100px;
    top: 10px;
}

.imgSize,
div.BodyBIKES div img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*BODY BIKES END*/

/*BODY PARTS*/

.bodyPARTS {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    background-color: rgb(12, 12, 12);
}

.PartsBlock {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.imgParts,
div.PARTS {
    display:flex;
    width: 22%;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.bodyBlockShadow,
div.PARTS:hover {
    box-shadow: 0px 0px 10px 2px white;
    border-radius: 20px;
    transition: .5s;
}

.imgSizeParts,
div.PARTS img {
    width: 100%;
}

.AParts,
div.PARTS a {
    display:flex;
    width:100%;
    text-decoration: none;
}
.h1PositionParts,
div.bodyPARTS div div h1 {
    position: relative;
    right: 90px;
    top: -10px;
}

.RightButton {
    width: 4%;
    height: 25%;
}

.LeftButton {
    width: 4%;
    height: 25%;
    transform: rotate(180deg) 
} 

.ArrowButton {
    opacity: 0.5;
    width: 100%;
}

.ArrowHover,
img.ArrowButton:hover {
    opacity: 1.0;
    transition: 0.5s;
}


/*BODY PARTS END*/